body{
	border:1px solid black
}
thead{
	background-color: black;
	color: white;
}
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 0px solid black;
  text-align: left;
  padding: 8px;
}
tfoot{
background-color: lightgray;
}
.total{
	text-align: right;
	font-weight: bold;
}